/* ---------------
Google Font
------------------ */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

/* ----------------
  CSS for table data
-------------------- */

.table-data {
  font-size: 14px;
}

td {
  border: 1px solid black;
  padding: 2px 5px;
}

/* ---------------
  Error Message
------------------*/
#error-message {
  display: none;
}
